<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .container-s {
            width: 80%;
        }

        .color-box {
            cursor: pointer;
        }
    </style>
</head>
<body class="bg-[#f5f5f5] text-[#333] mx-auto font-['Inter']">
    <header class="bg-white shadow-md p-4">
        <nav class="container mx-auto flex items-center justify-between">
            <a href="#" class="text-2xl font-bold text-black hover:underline">QR CODE GENERATOR</a>
        </nav>
    </header>
    <main>
        <section id="home" class="container-s mx-auto flex flex-col md:flex-row items-center justify-center pt-16">
            <div class="md:w-1/2">
                <!-- <img src="{{ url_for('static', filename='images/logo.png') }}" alt="QR Code Logo" class="w-full h-auto"> -->
                <h2 class="text-3xl font-bold mb-4">What is a QR Code?</h2>
                <p class="text-lg mb-2">
                    A QR Code (Quick Response Code) is a versatile and high-capacity two-dimensional barcode that can store a wealth of information. Unlike traditional barcodes, QR codes can be scanned from any angle and hold more data, making them an ideal tool for a wide range of applications.
                </p>
            </div>
            <div class="md:w-1/2 p-6">
                <!-- <h2 class="text-3xl font-bold mb-4">What is a QR Code?</h2>
                <p class="text-lg mb-2">
                    A QR Code (Quick Response Code) is a versatile and high-capacity two-dimensional barcode that can store a wealth of information. Unlike traditional barcodes, QR codes can be scanned from any angle and hold more data, making them an ideal tool for a wide range of applications.
                </p> -->
            </div>
        </section> 

        <section class="pt-16 container-s mx-auto">
            <form action="/generate_qr" class="bg-white p-8 rounded-lg shadow-md md:max-w-lg" method="post">
                <h2 class="text-3xl font-bold mb-8">Generate QR</h2>
                <div class="mb-4">
                    <input type="text" class="p-3 w-full border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" id="url" name="url" placeholder="Enter URL" required>
                </div>
                <div class="mb-6">
                    <div class="flex mb-4 items-center">
                        <div class="color-box px-3 py-2 mr-2 text-sm rounded-xl bg-black text-white text-center" onclick="setColor('#000000')">Black</div>
                        <div class="color-box px-3 py-2 mr-2 text-sm rounded-xl bg-red-700 text-white text-center cursor-pointer" onclick="setColor('#FF0000')">Red</div>
                        <div class="color-box px-3 py-2 mr-2 text-sm rounded-xl bg-green-700 text-white text-center cursor-pointer" onclick="setColor('#008000')">Green</div>
                        <div class="color-box px-3 py-2 mr-2 text-sm rounded-xl bg-blue-700 text-white text-center cursor-pointer" onclick="setColor('#0000FF')">Blue</div>
                        <!-- <div class="color-box px-3 py-2 rounded-xl bg-purple-700 text-white text-center cursor-pointer" onclick="setColor('#800080')">Purple</div> -->
                    </div>
                    <input type="text" class="p-3 w-full border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" id="color" name="color" value="#000000" required>
                </div>
                <button type="submit" class="w-full p-3 bg-indigo-600 text-white font-bold rounded-lg hover:bg-indigo-700">Generate QR Code</button>
            </form>        
        </section>

        <section id="why-use" class="container-s mx-auto pt-16">
            <h2 class="text-3xl font-bold mb-8">Why Use QR Codes?</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <h3 class="text-xl font-semibold mb-2">Instant Access</h3>
                    <p class="text-gray-700">QR codes can link to websites, social media profiles, contact information, and more. Simply scan the code with your smartphone, and you’re instantly connected.</p>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <h3 class="text-xl font-semibold mb-2">Versatile Data Storage</h3>
                    <p class="text-gray-700">Whether you want to share a URL, a text message, or even a Wi-Fi network login, QR codes can handle it all.</p>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <h3 class="text-xl font-semibold mb-2">Marketing and Branding</h3>
                    <p class="text-gray-700">Enhance your marketing campaigns with custom QR codes that lead to promotions, special offers, or your brand’s online presence.</p>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <h3 class="text-xl font-semibold mb-2">Convenience</h3>
                    <p class="text-gray-700">QR codes streamline processes by eliminating the need for manual entry. They are widely used in payments, ticketing, and inventory management.</p>
                </div>
            </div>
        </section>
            
        <footer class="mt-16 bg-white">
            <p class="text-center p-8"><a href="https://saumil8200.github.io/" target="_blank" class="font-bold text-indigo-700">SAUMIL SHAH</a></p>
        </footer>
    </main>

    <script>
        function setColor(color) {
            document.getElementById('color').value = color;
            console.log("Selected color:", color);
        }
    </script>
</body>
</html>
